<aside id="app-drawer" [class.close]="!isAppDrawerOpen">
	<div id="aside-backdrop"></div>
	<div class="app-con">
		<div class="back-arrows"></div>
		<div id="links">
			<a [routerLink]="['/admin/events']" class="link" >EVENTS</a>
			<a [routerLink]="['/admin/event-types']" class="link">EVENTS
				TYPES</a>
			<a [routerLink]="['/admin/registrations']" class="link">REGISTRATIONS</a>
			<a (click)="logout()" class="link">LOG OUT</a>
		</div>
	</div>
</aside>
<div class="d-flex flex-grow flex-column main-con">
	<router-outlet></router-outlet>
</div>
